.header {
  background-color: #bbbbbb;
  padding: 20px 0;

  &__container {
    width: 940px;
    position: relative;
    margin: 0 auto;
  }

  &__menu {
    position: absolute;
    top: 110px;
    right: 0;
  }
  &__item {
    display: inline;
    margin-left: 15px;
  }

  &__link {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

    &:hover {
      color: #c78c19;
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 480px) {
  .header {
    &__container {
      width: auto;
    }

    & h1 {
      text-align: center;
    }

    &__menu {
      position: static;
    }
  }
}
