@import "./body";
@import "./header";

%default-width-margin {
  width: 940px;
  margin: 0 auto;
}

.titulo--principal {
  text-align: center;
  font-size: 2em;
  margin: 0 0 1em;
  clear: left;
}

.main {
  margin: 0 auto;
  &__banner {
    width: 100%;
  }
}

.sobre {
  padding: 3em 0;
  background-color: #fefefe;

  &__container {
    @extend %default-width-margin;
  }

  &__imagem {
    float: left;
    margin: 0 20px 20px 0;
    width: 120px;
  }

  & p {
    margin: 0 0 1em;
  }

  & strong {
    font-weight: bold;
  }

  & em {
    font-style: italic;
  }
}

.localizacao {
  padding: 3em 0;
  background: linear-gradient(#fefefe, #888888);

  &__container {
    @extend %default-width-margin;
  }

  & p {
    margin: 0 0 2em;
    text-align: center;
  }
}

.beneficios {
  padding: 3em 0;
  background-color: #888888;
  &__conteudo {
    width: 640px;
    margin: 0 auto;
  }

  &__lista {
    width: 39%;
    display: inline-block;
    vertical-align: top;
  }

  &__item {
    line-height: 1.5em;

    &:first-child {
      font-weight: bold;
    }

    &::before {
      content: "★";
    }
  }

  &__imagem {
    width: 60%;
    opacity: 1;
    transition: opacity 400ms;
    box-shadow: 5px 10px 5px black;

    &:hover {
      opacity: 0.9;
    }
  }

  &__video {
    width: 560px;
    margin: 2em auto;
  }
}

@import "./footer";
