$cinza: #cccccc;

.titulo--centralizado {
  text-align: center;
}

.header {
  &__banner {
    width: 100%;
  }

  &__titulo {
    padding-left: 15px;
  }
}

.sobre {
  background-color: $cinza;
  padding: 30px;

  &__titulo {
  }

  &__missao {
    font-size: 20px;
  }
}

.beneficios {
  background-color: white;
  padding: 20px;

  &__titulo {
  }

  &__lista {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
  }

  &__item {
    font-style: italic;
  }

  &__imagem {
    width: 50%;
  }
}

p {
  text-align: center;
}

em strong {
  color: red;
}
